[submodule "bwapy"]
	path = vendor/bwapy
	url = https://github.com/nanoporetech/bwapy.git
[submodule "spoa"]
	path = vendor/spoa
	url = https://github.com/rvaser/spoa
[submodule "ssw"]
        path = vendor/ssw
        url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library
